Repository Gosshi/gym-equipment-directory: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-prettier, frontend-next-lint-fix

frontend-prettier:
  name: frontend prettier (write & check)
  language: system
  entry: "bash -lc '\n  cd frontend &&\n  node ./node_modules/prettier/bin/prettier.cjs --write --log-level warn --ignore-unknown . &&\n  node ./node_modules/prettier/bin/prettier.cjs --check --log-level warn --ignore-unknown .\n'"
  ...

frontend-next-lint-fix:
  name: frontend eslint --fix
  language: system
  entry: bash -lc 'cd frontend && ./node_modules/.bin/eslint . --fix'
  pass_filenames: false

fix: Format fee keys in Japanese for better readability
  app/dto/mappers.py
Due: none

fix: Format fee keys in Japanese for better readability (#347)
  app/dto/mappers.py
Due: none

fix: Add is_multi_facility detection to LLM prompt to prevent data mixing
  app/ingest/parsers/municipal/_base.py
  scripts/ingest/parse_municipal_generic.py
Due: none

fix: Add is_multi_facility detection to LLM prompt to prevent data mixing (#348)
  app/ingest/parsers/municipal/_base.py
  scripts/ingest/parse_municipal_generic.py
Due: none

fix: Auto-approve all facility categories, not just gyms
  scripts/auto_approve_candidates.py
Due: none

chore: Change scraping interval to 3 hours (8 batches/day)
  render.yaml
  scripts/ingest/run_nightly.py
Due: none

fix: Auto-approve all facility categories, not just gyms (#349)
  scripts/auto_approve_candidates.py
Due: none

chore: Change scraping interval to 3 hours (8 batches/day) (#350)
  render.yaml
  scripts/ingest/run_nightly.py
Due: none

fix: Add await to async parse_municipal_page call in backfill_tags
  scripts/backfill_candidate_tags.py
Due: none

fix: Add await to async parse_municipal_page call in backfill_tags (#351)
  scripts/backfill_candidate_tags.py
Due: none

fix: Disable auto-approval in nightly run (dry_run=True)
  scripts/ingest/run_nightly.py
Due: none

fix: Disable auto-approval in nightly run (dry_run=True) (#352)
  scripts/ingest/run_nightly.py
Due: none

chore: Pause scraping cron to focus on approving existing candidates
  render.yaml
Due: none

chore: Pause scraping cron to focus on approving existing candidates (#353)
  render.yaml
Due: none

feat: Implement AdSense readiness (Privacy Policy, ads.txt, Components)
  frontend/app/gyms/[slug]/GymDetailPage.tsx
  frontend/app/layout.tsx
  frontend/app/privacy/page.tsx
  frontend/components/ads/AdBanner.tsx
  frontend/components/ads/AdSense.tsx
  frontend/public/ads.txt
Due: frontend-prettier, frontend-next-lint-fix

fix: Remove Container import from privacy page
  frontend/app/privacy/page.tsx
Due: frontend-prettier, frontend-next-lint-fix

feat: AdSense導入準備 (Privacy Policy, ads.txt, Components) (#354)
  frontend/app/gyms/[slug]/GymDetailPage.tsx
  frontend/app/layout.tsx
  frontend/app/privacy/page.tsx
  frontend/components/ads/AdBanner.tsx
  frontend/components/ads/AdSense.tsx
  frontend/public/ads.txt
Due: frontend-prettier, frontend-next-lint-fix

chore: Update fallback URLs to spomapjp.com
  frontend/app/robots.ts
  frontend/app/sitemap.ts
Due: frontend-prettier, frontend-next-lint-fix

chore: Update ads.txt with real Publisher ID
  frontend/public/ads.txt
Due: frontend-next-lint-fix

chore: Update ads.txt with real Publisher ID (#355)
  frontend/public/ads.txt
Due: frontend-next-lint-fix

feat: Rebrand IRON MAP to SPOMAP and add /map nav link
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Header.tsx
Due: frontend-prettier, frontend-next-lint-fix

feat: Update Hero component branding to SPOMAP
  frontend/components/landing/Hero.tsx
Due: frontend-prettier, frontend-next-lint-fix

feat: Add prominent map CTA button to Hero section
  frontend/components/landing/Hero.tsx
Due: frontend-prettier, frontend-next-lint-fix

fix: Update E2E test for SPOMAP rebrand
  frontend/tests/e2e/home.spec.ts
Due: frontend-prettier, frontend-next-lint-fix

feat: リブランド IRON MAP → SPOMAP (#356)
  frontend/components/landing/Hero.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Header.tsx
  frontend/tests/e2e/home.spec.ts
Due: frontend-prettier, frontend-next-lint-fix

feat: Add Google Maps link to admin candidate list
  frontend/app/admin/candidates/page.tsx
Due: frontend-prettier, frontend-next-lint-fix

fix: Update branding metadata and improve contrast with orange accent
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/landing/Hero.tsx
Due: frontend-prettier, frontend-next-lint-fix

feat: Add Google Maps link to admin candidate list (#357)
  frontend/app/admin/candidates/page.tsx
Due: frontend-prettier, frontend-next-lint-fix

fix: ブランド名修正 & コントラスト改善 (#358)
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/components/landing/Hero.tsx
Due: frontend-prettier, frontend-next-lint-fix

feat: Add Tuesday catch-up schedule for remaining wards
  render.yaml
  scripts/ingest/run_nightly.py
Due: none

feat: Add Tuesday catch-up schedule for remaining wards (#359)
  render.yaml
  scripts/ingest/run_nightly.py
Due: none

feat: Add multi-category support for complex facilities
  app/dto/gym.py
  app/dto/mappers.py
  app/models/gym.py
  app/schemas/gym_detail.py
  frontend/app/gyms/[slug]/GymDetailPage.tsx
  frontend/app/gyms/[slug]/normalization.ts
  frontend/components/gym/CategoryInfo.tsx
  frontend/src/types/gym.ts
  migrations/versions/add_categories_array.py
Due: frontend-prettier, frontend-next-lint-fix

feat: Update LLM prompt and scraping for multi-category extraction
  app/ingest/parsers/municipal/_base.py
  scripts/auto_approve_candidates.py
  scripts/ingest/parse_municipal_generic.py
Due: none

feat: 複合施設の複数カテゴリ対応 (#360)
  app/dto/gym.py
  app/dto/mappers.py
  app/ingest/parsers/municipal/_base.py
  app/models/gym.py
  app/schemas/gym_detail.py
  frontend/app/gyms/[slug]/GymDetailPage.tsx
  frontend/app/gyms/[slug]/normalization.ts
  frontend/components/gym/CategoryInfo.tsx
  frontend/src/types/gym.ts
  migrations/versions/add_categories_array.py
  scripts/auto_approve_candidates.py
  scripts/ingest/parse_municipal_generic.py
Due: frontend-prettier, frontend-next-lint-fix

feat: Configure 2-day intensive scraping schedule (Tue/Wed)
  scripts/ingest/run_nightly.py
Due: none

feat: Configure 2-day intensive scraping schedule (Tue/Wed) (#361)
  scripts/ingest/run_nightly.py
Due: none

feat: Start scraping tonight at 22:00 JST
  render.yaml
  scripts/ingest/run_nightly.py
Due: none

feat: Start scraping tonight at 22:00 JST (#362)
  render.yaml
  scripts/ingest/run_nightly.py
Due: none

fix: Add spomapjp.com to CORS allowed origins
  render.yaml
Due: none

Path conditions:
  frontend-prettier: any of: ^frontend/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.css$, \.scss$, \.(md|markdown|mdown)$
  frontend-next-lint-fix: any of: ^frontend/
